.application{
  border: 10px solid blue;
  padding: 20px;
  width: 300px;
  }
.application{
  font-size: 20px;
  width: 500px;
  line-height: 3.0;
  text-indent: inherit;
  font-weight: bold;
  font-family: monospace;
}
html {
  background-repeat: repeat;
  background-color: inherit;
  background-size: cover;
  font-display: auto;
  text-decoration: inherit;
}
body {
  line-height: 30px;
  background-size: cover;
  text-decoration-color: violet;
}
.triangle {
  background-color: white;
  background-blend-mode: lighten;
}
